@import 'reset.css';
@import 'common.css';
@import 'layout.css';

header,footer,
article,section,
hgroup,nav,
figure, 
questions, question,
tags, users, user {
	display:block;
}

tag {
  display: inline;
}

/** {
  border: 1px solid #f00;
}
*/

question {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #999;
}

question a,
question a:hover {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

question a:hover { background-color: yellow; }

question h3 {
  font-style: italic;
  font-weight: normal;
  color: #97A9B6;
}

question:nth-child(2n+1) { background-color: white; }
question:nth-child(2n) { background-color: #EAEEF3; }

question tag {
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	border: 1px solid #ccc;
	background: #ddd;
  padding: 2px 5px;
  color: #555;
  
	text-transform: uppercase;
	font-size: 9px;
}

#navigation ul {
  margin: 0;
  padding: 10px;
}

#navigation ul li {
  padding-right: 5px;
  text-align: right;
  float: left;
  list-style-type: none;
}

#navigation ul li a {
  padding: 4px 8px;
  
  background: #fff;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	font-size: 11px;
	text-decoration: none;
}

