@import url('reset.css');
@import url('common.css');
@import url('layout.css');
@import url('prettify.css');

header,footer,
article,section,
hgroup,nav,
figure, 
questions, question,
tags, users, user {
	display:block;
}

tag {
  display: inline;
}

a#toggleContent,
a#toggleContent:hover {
  background: #888;
  color: white;
  display: block;
  font-size: 20px;
  font-weight: normal;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 500px;
  z-index: 1000;
  text-decoration: none;
  text-align: center;
  width: 17px;
	opacity: 0.4;
}

header #navigation {
	background: #BCBCBC;
	background: -webkit-gradient(linear, left top, left bottom, from(#CFD7E1), to(#B9C4D2));
	border-bottom:1px solid #86888A;
	border-top:1px solid #A4AAAF;
}

#logo {
  float: left;
  width: 200px;
  padding: 12px 15px;
}

#logo h2 {
  color: #111;
  line-height: .8em;
}

#logo p {
  font-size: 12px;
  color: #666;
}

#search {
  float: right;
  margin: 10px;
  
	width: 500px;
	
	background: #BCBCBC;
	background: -webkit-gradient(linear, left top, left bottom, from(#CFD7E1), to(#B9C4D2));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#search p {
  padding: 5px;
}

#search label {
  float: left;
  display: block;
  text-align: middle;
  padding: 7px 10px 7px 12px;
  font-size: 14px;
  font-weight: bold;

	background: #BCBCBC;
	background: -webkit-gradient(linear, left top, left bottom, from(#CFD7E1), to(#B9C4D2));

	-moz-border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;	
}

#search input {
  float: left;

	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 7px;
	border: 1px solid #fff;
  
  padding: 6px 7px;
  font-size: 14px;
  font-style: italic;
  width: 440px;
	color: #888;
}

/** {
  border: 1px solid #f00;
}
*/

#statistics {
  padding: 15px;
}

question {
  padding: 15px;
  color: #999;
}

question a,
question a:hover,
question a:active {
  font-size: 16px;
  color: #0070CA;
  font-weight: bold;
  line-height: 1.4em;
}

question a:hover { background-color: yellow; }

question h3 {
  font-style: italic;
  font-weight: normal;
  color: #97A9B6;
}

question:nth-child(2n+1) { background-color: white; }
question:nth-child(2n) { 
  background: #EFEFEF;
	background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#EFEFEF));
	border-bottom: 1px solid #ccc;
}

question tags {
  padding-top: 10px;
}
question tag {
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
  padding: 4px 7px;
  line-height: 2.2em;
  
	text-transform: uppercase;
	font-size: 10px;
}

#question-detail {
  padding: 30px;
  margin: 0 auto;
  max-width: 800px;
  min-width: 600px;
}

#question-detail h1 {
  font-size: 14pt;
  border-bottom: 1px solid #111;
}

#question-detail p,
#question-detail li {
  padding: 5px 0;
  line-height: 1.4em;
  font-size: 12pt;
  font-family: Georgia, sans;
}

#question-detail pre {
  overflow: auto;
  width: auto;
  background: #fff;
  margin: 10px 0;
}

#question-detail code {
  background: transparent;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}

#navigation ul {
  margin: 0;
  padding: 10px;
}

#navigation ul li {
  padding-right: 5px;
  text-align: right;
  float: left;
  list-style-type: none;
}

#navigation ul li a {
  padding: 6px 12px;
  
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#316ACE), to(#0A366A));
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

/*#navigation ul li a {
  padding:5px 20px 6px 20px;
  text-decoration:none;
  font-size:14px;
  font-weight:bold;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.6);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.6);
  box-shadow: 0 2px 4px rgba(0,0,0,.6);
  cursor:pointer;
}

a.red {
    color:#fff;
    background:#e60d00;
    background: -webkit-gradient(linear, left top, left bottom, from(#fd1900), to(#a90100));
    background: -moz-linear-gradient(top,  #fd1900,  #a90100);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd1900", endColorstr="#a90100");}
a.red:hover {
    background: #cd0b00;
    background: -webkit-gradient(linear, left top, left bottom, from(#e21b05), to(#8b0000));
    background: -moz-linear-gradient(top, #e21b05, #8b0000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e21b05", endColorstr="#8b0000");}

a.green {
    color:#fff;
    background:#4ea61b;
    background: -webkit-gradient(linear, left top, left bottom, from(#70ce31), to(#2b6a0a));
    background: -moz-linear-gradient(top, #70ce31, #296d07);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#70ce31", endColorstr="#2b6a0a");}
a.green:hover {
    background: #296d07;
    background: -webkit-gradient(linear, left top, left bottom, from(#5ca62a), to(#225b06));
    background: -moz-linear-gradient(top, #5ca62a, #225b06);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5ca62a", endColorstr="#225b06");}

a.purple {
    color:#fff;
    background:#826de5;
    background: -webkit-gradient(linear, left top, left bottom, from(#9986f9), to(#5644ac));
    background: -moz-linear-gradient(top, #9986f9, #5644ac);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9986f9", endColorstr="#5644ac");}
a.purple:hover {
    background: #4c3c98;
    background: -webkit-gradient(linear, left top, left bottom, from(#8474ce), to(#4c3c98));
    background: -moz-linear-gradient(top, #8474ce, #4c3c98);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8474ce", endColorstr="#4c3c98");}*/