header {
  background: #444;
  color: #fff;
  height: 0px;
}

#page {
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;

  overflow: auto;
  padding: 0;
  
  min-width: 700px;
}

#content {
  position: absolute;
  bottom: 0;
  top: 0;
  
  height: 100%;
  width: 499px;
  
  overflow-x: hidden;
  overflow-y: auto;

  background: transparent;
}

#detail {
  position: absolute;
  bottom: 0;
  left: 500px; /* inherited from #navigation[width]*/
  right: 0;
  top: 0;
  
  height: 100%;
  min-width: 600px;
  
  overflow: auto;
  
  background: #FFF9DB;
}

