@import 'reset';
@import 'common';

#navigation {
  .background-linear(#BCBCBC, #F7A700, #F9CA69);
  border-bottom:1px solid #999;
	border-top:1px solid #A4AAAF;
	height: 36px;
	
	ul {
    margin: 0;
    padding: 10px;	  
  }
  
  ul li {
    padding-right: 5px;
    text-align: right;
    float: left;
    list-style-type: none;
    position: relative;
  }
  
  ul li > a,
  ul li > a:hover {
    padding: 6px 12px;
    color: #fff;
    
    .background-linear(#678090, #678090, #0A366A);
    .rounded(5px);

    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
  }
  
  li:hover ul {
    display: block;
  }
  
  ul li > a > span {
    padding-left: 10px;
  }
  
  ul li ul li span {
    display: block;
    text-align: right;
    width: 87px;
  }
  
  ul li ul.questions {
    width: 87px;
    top: 0;
    left: 10px;
  }
  
  ul li ul li a {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }
  
  ul li a > strong {
    font-weight: normal;
    padding-left: 10px;
  }
  
  li > ul {
    z-index: 1020;
    position: absolute;
    display: none;
  }
  
  li > ul li {
    clear: both;
    line-height: 1.6em;
    z-index: 2000;
  }
  
  li > ul {
    display: hidden;
    position: relative;
    height: 115px;
    top: 0;
    margin-left: -10px;
    background: #153f6f;
    opacity: .9;

    -moz-border-radius-bottomleft: 5px; 
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
  }
  
  ul li > ul.users li span {
    width: 70px;
  }
  
  ul li > ul.users {
    width: 75px;
    height: 70px;
    top: 0;
    left: 10px;
  }
  
  li > ul > li {
    text-align: right;
  }
  
  li:hover > ul {
    display: block;
  }
  
  li.delimiter {
    margin-left: 15px;
  }
  
  li.tags a > span {
    background: transparent url('/images/tag.png') 1px 0 no-repeat;
    background-repeat:no-repeat;
  }

  li.users a > span {
    background: transparent url('/images/user.png') 1px 0 no-repeat;
    background-repeat:no-repeat;
  }
  
  li.badges a > span {
    background: transparent url('/images/star.png') 0 0 no-repeat;
    background-repeat:no-repeat;
  }
  
}